* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #0a1128;
  font-family: sans-serif;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-left a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sign-in {
  padding: 13px 0;
  background: transparent;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
.subscribe {
  padding: 13px 48px;
  border: none;
  background: #034078;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

/*Для адаптации*/
.mobile-menu {
  font-size: 50px;
  color: white;
  cursor: pointer;
  display: none;
}
